<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <div class="element">
        <h1>Chapters</h1>
        <div class="element-text">
          <p><span class="term">Chapter</span> is a main division of a book usually defined with a number and/or title. <br><br>The chapter usually has meaning to the story. Unless the nonsensical chapter titles will make sense in the future when the reader has reached the end of the story. It's similar to books with a story surroundign code-breaking. Sometimes authors leave hidden messages for the reader to decipher as they read along.
            <br><br>Whichever style fits your story, utilize it.
          </p>
          <a href="/chapters/new" class="button-sus">New Chapter</a>
        </div>
      </div>
      <h2 id="elements"><%=currentUser.name%>'s Chapters</h2>
      <div class="entry-storage">
        <% for (let chapter of chapters){ %>
          <li class="entries">
            <a href="/chapters/<%=chapter.id%>">
              <%=chapter.name%>
            </a>
          </li>
        <% } %>
      </div>
      <div class="buttons">
        <a href="/elements" class="button-sus">Elements Page</a>
      </div>
    </div>
  </body>
</html>
