<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1><%=plot.name%></h1>
      <form action="/plots/<%=plot.id%>?_method=PUT" method="POST">
        <label for="type">Type:</label>
        <div class="select-container">
          <select name="type">
            <option value="<%=plot.type%>"><%=plot.type%></option>
            <option value="Exposition">Exposition</option>
            <option value="Rising Action">Rising Action</option>
            <option value="Climax">Climax</option>
            <option value="Falling Action">Falling Action</option>
            <option value="Resolution">Resolution</option>
          </select>
        </div>
        <label for="name">Name:</label><br/>
        <input type="text" name="name" value="<%=plot.name%>" /><br/>
        <label for="description">Description:</label><br/>
        <textarea name="description" cols="30" rows="10">
          <%=plot.description%>
        </textarea><br/>
        <input type="submit" value="Submit Changes">
      </form>
    </div>
  </body>
</html>
