<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <label for="type">Type:</label><br/>
      <p><%=plot.type%></p><br/>
      <label for="name">Name:</label><br/>
      <p><%=plot.name%></p>
      <label for="description">Description:</label>
      <p><%=plot.description%></p>

      <div class="buttons">
        <button type="button" name="button">
          <a href="/plots/<%=plot.id%>/edit">EDIT</a>
        </button>
        <form action="/plots/<%=plot.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form>
        <button type="button" name="buttom">
          <a href="/plots">BACK</a>
        </button>
      </div>
    </div>
  </body>
</html>
