<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1><%=character.name%></h1>
      <div class="entry-info">
        <label for="type"> <span class="term">Type:</span></label>
        <p><%=character.type%></p><br/>
        <label for="description"><span class="term">Description:</span></label>
        <p><%=character.description%></p><br/>
      </div>

      <div class="buttons">
        <a href="/characters/<%=character.id%>/edit" class="button-sus">Edit</a>
        <form action="/characters/<%=character.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form>
          <a href="/characters" class="button-sus">Back</a>
      </div>
    </div>
  </body>
</html>
